<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bikes Index Page</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>All Bikes:</h1>
        <ul>
            <% for(let i = 0; i < bikes.length; i++){ %>
                <li>
                  <a href="/bikes/<%=bikes[i].id%>"><%=bikes[i].name%></a>
                </li>
            <% } %>    
        </ul>
        <nav>
            <a href="/bikes/new">Create a New Bike</a>
        </nav>
    </body>
</html>