<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bikes Index Page</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>All Bikes:</h1>

    </body>
</html>