<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bikes CRUD APP</title>
</head>
<body>

    <h1>Bikes Database:</h1>

    <a href="/bikes">Click Here To See All Bikes In Database</a> <br>
    <a href="/bikes/new>">Click Here To Add A New Bike To The Database</a>
    
</body>
</html>