<!DOCTYPE html>
<html>
<head>
  <title>Bike Show Page</title>
</head>
<body>
  <h1>Bike Show Page:</h1>
  Name: <%= bike.name %> <br>
  Type: <%= bike.type%> <br>

  <button><a href="/bikes/<%=bike.id%>/edit">Edit/Delete</a></button> <br>
  <a href="/bikes">Click Here To See All Bikes In Database</a> <br>


</body>
</html>